/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.post {
	.entry-header {
		position: relative;
		width: 100%;
		min-height: 600px;
	
		img {
			width: 100%;
		}

		a {
			display: inline;
			text-decoration: none;
			color: $color__text-light;

			&:hover {
				color: lighten($light-grey-brand, 25);
			}
		}

		.entry-title {
			position: absolute;
			top: 0;
			left: 0;
			background: $green-brand;
			width: 65%;
			color: $color__text-light;
			padding: 0 $base__space-unit;
			font-size: $font__h2-size;
		}
	
		.entry-meta {
			position: absolute;
			bottom: 0;
			right: 0;
			background: $green-brand;
			margin-bottom: 8px;
			text-transform: uppercase;
			color: $color__text-light;
			font-family: $font__family-heading;
			padding: 0 $base__space-unit;
		}
	}

	.entry-footer {
		font-family: $font__family-heading;
		text-transform: uppercase;

		a {
			text-decoration: none;
		}

		span {
			display: inline-block;
			padding-right: $base__space-unit;
		}
	}
}

/* 404 page */

.error-404 {
	h2 {
		font-size: $font__h2-size * .8;
	}

	.recent-post-list {
		padding: 0;
		margin: 0;
		list-style: none;

		a {
			text-decoration: none;
		}
	}
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

aside {
	margin-right: 0 !important;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/* Page layout */

.site {
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;

	.site-content {
		width: 100vw;
	}
}

.container {
	width: $site__width;
	margin: auto;
}

.content-page {
    display: flex;

    main {
        flex-basis: $site__width * .7;
        padding-right: $base__space-unit * 2;
        border-right: $border__solid;
    }
}

/* Products archive */

.products-heading {
	text-align: center;
	border-bottom: $border__dashed;
	padding-bottom: $base__space-unit;

	h1 {
		margin-bottom: 0;
	}

	.products-navigation {
		font-size: 1.2rem;
		list-style: none;
		width: $site__width/2;
		margin: auto;
		padding: $base__space-unit;
		display: flex;
		justify-content: center;

		li {
			padding: 0 $base__space-unit;
		}
	}
}

/* Single product page */

.single-product-page {
	display: flex;
	align-items: flex-start;

	.product-image, .product-content {
		flex-basis: 50%;
		padding: $base__space-unit;
	}

	.product-image {

		img {
			height: auto;
		}
	}

	.product-content {

		h1 {
			color: $orange-brand;
			margin-top: 0;
			margin-bottom: 0;
		}

		.product-price {
			font-family: $font__family-heading;
			font-size: 2rem;
			margin-top: 0;
		}
	}
}