/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.entry-header {
	position: relative;
	
	img {
		width: 100%;
	}
	.entry-title {
		position: absolute;
		top: 0;
		left: 0;
		background: $green-brand;
		width: 75%;

		a {
			display: inline-block;
			padding-left: $base__space-unit;
			text-decoration: none;
			color: $color__text-light;
			width: 75%;
		}
	}
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

aside {
	margin-right: 0 !important;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/* Page layout */

.site {
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;

	.site-content {
		width: 100vw;
	}
}

.container {
	width: $site__width;
	margin: auto;
}

.content-page {
    display: flex;

    main {
        flex-basis: $site__width * .8;
        padding-right: $base__space-unit * 2;
        border-right: $border__solid;
    }
}