/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer {
    width: 100%;
    height: 350px;
    background: url(../../assets/images/dark-wood.png);
    align-self: flex-end;

    .site-info {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-around;
        align-items: flex-start;
        padding: $base__space-unit * 2 $base__space-unit $base__space-unit $base__space-unit;
        height: 100%;
        width: 1120px;
        margin: auto;
        color: $color__text-footer;

        h3 {
            color: $color__heading-footer;
            letter-spacing: .1rem;
        }
    
        .contact-info {
            flex: 0 0 230px;
        }
    
        .business-hours {
            flex: 0 0 230px;
        }
    
        .footer-logo {
            flex: 0 0 230px;
            // margin-left: 80px;

            img {
                content: url(../../assets/images/logos/inhabitent-logo-text.svg);
                max-height: 50px;    
            }   
        }
    
        .copyright {
            font-family: Novecento, sans-serif;
            width: 100%;
            text-align: center;
            align-self: flex-end;
        }
    }
    
    
    .fas, .fab {
        display: inline-block;
        margin-right: $base__space-unit / 3;
    }

    a, a:hover, a:visited, a:active, a:focus {
        color: $color__text-footer;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
