/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer {
    width: 100%;
    height: 350px;
    background: url(../../assets/images/dark-wood.png);
    position: absolute;
    bottom: 0;

    .site-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: $base__space-unit * 2;
    
        .contact-info {
            flex-basis: 25%;
        }
    
        .business-hours {
            flex-basis: 25%;
        }
    
        .footer-logo {
            width: 300px;
            height: 60px;
            flex-basis: 50%;
            background-image: url(../../assets/images/logos/inhabitent-logo-text.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            
        }
    
        .copyright {
            text-transform: uppercase;
            color: $color__text-footer;
            position: absolute;
            bottom: $base__space-unit * 2;
            width: 100%;
            text-align: center;
        }
    }
    
}