/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: $border__solid;
	background: $green-brand;
	color: $color__text-light;
	@include font-size(0.75);
	line-height: 1;
	padding: .6rem 1rem .4rem;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	line-height: $font__line-height-body;
	padding: $base__space-unit / 2 $base__space-unit;

	&:hover, &:active, &:focus {
		background: darken($green-brand, 15);
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	border: $border__solid;
	font-family: $font__family-default;
	// background: $light-grey-brand;
	background: lighten($light-grey-brand, 30);
	outline: 0;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 80%;
	resize: none;
}

label {
	font-family: $font__family-heading;
	text-transform: uppercase;
}

.req {
	color: red;
}

.search-form {

	fieldset {
		border: 0;
		padding-left: 0;
		margin-left: 0;

		.search-submit {
			display: none;
		}
	}
}