/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */
/* Link buttons style */
.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	font-family: $font__family-heading;
	font-size: .9rem;
	padding: $base__space-unit/4 $base__space-unit;
	background: $green-brand;
	color: $color__text-light !important;

	&:hover,
	&:focus,
	&:active {
		color: $color__text-light !important;
		background: darken($green-brand, 10);
	}
}

.shop-btn {
	text-align: center;
	margin: auto;
}

.inverse-btn {
	border: 1px solid $color__text-main;
	color: $color__text-main !important;
	background: $color__background-body;
	
	&:hover,
	&:focus,
	&:active {
		background: $green-brand;
		color: $color__text-light !important;
		border-color: $green-brand;
	}
}

.adventures-btn {
	margin: $base__space-unit 0;
	font-size: 1.1rem;
}

.transparent-btn {
	background: transparent;
	border: 1px solid $color__text-light;

	&:hover,
	&:focus,
	&:active {
		background: $green-brand;
		border-color: $green-brand;
	}
}

.read-more {
	&::after {
		content: " \2192";
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	border: $border__solid;
	font-family: $font__family-default;
	background: lighten($light-grey-brand, 30);
	outline: 0;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 80%;
	resize: none;
}

label {
	font-family: $font__family-heading;
	text-transform: uppercase;
}

.required {
	color: red;
}

.wpcf7-not-valid-tip {
	text-transform: none;
	font-family: $font__family-default;
}

.search-form {
	fieldset {
		border: 0;
		padding-left: 0;
		margin-left: 0;

		.search-submit {
			display: none;
		}
	}
}