/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
    width: 99.9vw;
    max-width: 99.9vw;
    background: $color__background-header;
    border-bottom: $border__solid;
    z-index: 100;
    position: fixed;
    overflow: hidden;

    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: $site__width;
        margin: auto;
    } 
}

/* Logo */
.site-branding {
	width: 50px;
	height: 50px;
	display: inline-block;

	.site-logo {
		background: url(../../assets/images/logos/inhabitent-logo-tent.svg) center/50px no-repeat;
		width: 50px;
        height: 50px;
        
        a {
            display: block;
            width: 50px;
            height: 50px;
        }
	}
}

.header-inverse {
    background: transparent;
    border: 0;
    position: absolute;

    .site-logo {
        background-image: url(../../assets/images/logos/inhabitent-logo-tent-white.svg);
    }

    .search-field {
        color: $color__text-light !important;
    }

    a {
        color: $color__text-light;
    }
    
}