/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.site-content {
    margin-top: 50px;
}

.hero-image {
    margin-top: -50px;
    height: 100vh;
    width: 100vw;
    min-width: $site__width;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    .hero-heading {
        color: $color__text-light;
    }
}

.about-page-content {
    width: $site__width * 3 / 4;
    margin: auto;

    h2 {
        text-align: center;
        font-size: $font__h2-size;
    }
}

