/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.site-content {
    margin-top: 50px;
}

.hero-image {
    margin-top: -50px;
    height: 100vh;
    width: 100vw;
    min-width: $site__width;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    .hero-heading {
        color: $color__text-light;
        font-size: 3rem;
    }    
}

.hero-home {
    background-position: top;

    .main-logo {
        background: url(../../assets/images/logos/inhabitent-logo-full.svg) center/250px no-repeat;
        width: 250px;
        height: 250px;
    }
}

.about-page-content {
    width: $site__width * .75;
    margin: auto;

    h2 {
        text-align: center;
    }
}


