// Structure

$base__space-unit: 1.5rem;
$site__width: 1120px;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;
$color__text-light: #fff;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: #248A83;
$color__link-visited: #248A83;
$color__link-hover: #2f1339;

$color__background-header: rgba(255, 255, 255, 0.5);
$color__border-header: lighten(#a1a1a1, 15%);

$color__text-footer: #fff;
$color__heading-footer: #d99054;

// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.75;
$font__line-height-pre: 1.6;

$font__h1-size: 3rem;
$font__h2-size: 2rem;
