// Structure

$base__space-unit: 1.5rem;
$site__width: 1120px;

// Colors

// brand colors
$green-brand: #248A83;
$purple-brand: #2f1339;
$orange-brand: #d99054;
$yellow-brand: #f0e4d1;
$light-grey-brand: #a1a1a1;
$medium-grey-brand: #808080;

$color__background-body: #fff;
$color__text-main: #404040;
$color__text-light: #fff;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: $green-brand;
$color__link-visited: $green-brand;
$color__link-hover: $purple-brand;

$color__background-header: rgba(255, 255, 255, 0.8);

$border__solid: 1px solid #e1e1e1;
$border__dashed: 1px dashed #c8c8c8;
$border__dotted: 1.2px dotted $purple-brand;

$color__heading-footer: $orange-brand;

// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.75;
$font__line-height-pre: 1.6;

$font__main-size: 16px;
$font__h1-size: 2.5rem;
$font__h2-size: 2rem;

$font__family-heading: Novecento, sans-serif;
$font__family-default: Merriweather, serif;
