/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.widget {
	margin: $base__space-unit * 2;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		a {
			text-decoration: none;
		}
	}
}

.textwidget {
	span {
		display: inline-block;
	}
	a {
		text-decoration: none;
	}
	

	i {
		margin-right: $base__space-unit/2;
		display: inline-block;
	}

	.map-icon {
		display: flex;

		i {
			align-self: flex-start;
		}
	}
}
