/* Home page */
.home_page {

	.journal-entry-container {
		grid-template-columns: 1fr 1fr 1fr;
	}

	h1 {
		text-align: center;
		font-weight: normal;
	}

	.product-category-entry {
		text-align: center;
		padding: $base__space-unit;
		border-top-width: 4px;

		&:hover {
			border-color: $orange-brand;
		}

		img {
			width: 80px;
			height: 80px;
		}
	}
}
