/* Single product page */

.single-product-page {
	display: flex;
	align-items: flex-start;
	margin: $base__space-unit 0;

	.single-product-image, .single-product-content {
		flex-basis: 50%;
		padding: $base__space-unit;
	}

	.single-product-image {

		img {
			height: auto;
		}
	}

	.single-product-content {

		h1 {
			color: $orange-brand;
			margin-top: 0;
			margin-bottom: 0;
		}

		.single-product-price {
			font-family: $font__family-heading;
			font-size: 2rem;
			margin-top: 0;
		}
	}
}

.social-links {
	&:hover {
		cursor: pointer;
	}
	span {
		display: inline-block;
		padding-right: $base__space-unit / 2;
	}
}